.course-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#div1 {
  margin: 4rem;
}
#video12 {
  max-width: 80%;
  height: 25rem;
  border-radius: 16px;
  background-color: aqua;
}

#video12 video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 16px;
}

#course-panel {
  width: 360px;
  height: 400px;
  border: 2px solid #060606;
  border-radius: 8px;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: -10%;
}
#course-panel h3 {
  margin-left: 20px;
}
#intro {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 2rem;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.section {
  padding: 12px 16px;
  overflow-y: auto;
  scrollbar-width: none;
}

.section-header {
  margin-bottom: 12px;
}

.section-header h4 {
  margin: 0;
  font-size: 14px;
}

.progress {
  font-size: 12px;
  color: #666;
}

.lesson-list li {
  margin-bottom: 10px;
}

.lesson-list label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.lesson-list .title {
  font-size: 13px;
  max-width: 240px;
}

.section summary {
  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 4px;
  font-weight: 600;
}

.section summary:hover {
  background-color: #938c8c;
}
.section[open] summary {
  background-color: #e6f2ff;
}

.lesson-list {
  padding-left: 20px;
  margin-top: 10px;
}

#learn {
  padding: 16px;
}

#learn ul {
  list-style-position: inside;
  text-align: start;
  list-style: inside;
  font-weight: 500;
  margin-top: 7rem;
}

/* skills div */

#skill1 {
  margin-left: 3rem;
}

#skill1 button {
  background-color: #e8eef7;
  cursor: default;
  width: 5rem;
  margin-bottom: 2rem;
}

#review {
  display: flex;
  flex-direction: row;
  max-width: auto;
  max-height: auto;
  gap: 5rem;
  padding: 2rem;
}
#review div {
  height: auto;
  width: auto;
}

#review img {
  height: 32rem;
  width: 36rem;
  border-radius: 16px;
}
#review p {
  font-size: larger;
  margin-top: 14rem;
  font-weight: bold;
  opacity: 0.9;
}

h4 {
  opacity: 0.8;
}
