/* @import url(signup.css);
@import url(login.css); */

* {
  background-color: #eff3f7;
  padding: 1.5px;
  margin: 5px;
}

/* index page */
/* navigation */
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 60px;
  font-weight: bolder;
}

.nav-ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.831);
}

.section h1 {
  color: #08ade6;
}

.index-main img {
  max-width: 400px;
  border-radius: 18px;
  display: block;
  align-items: center;
  height: 18rem;
  object-fit: contain;
}
#figure {
  display: flex;
  justify-content: space-around;
  margin-top: 56px;
}
#figure article {
  background-color: #8acee4;
  border-radius: 16px;
  padding: 6px;
  height: 16rem;
  margin-top: 20px;
}

.h41 {
  background-color: #8acee4;
}
.ul1 {
  background-color: #8acee4;
  margin: 16px;
}
.ul1 li {
  list-style: inside;
  background-color: #8acee4;
}
#video {
  max-width: 60rem;
  height: 25rem;
  margin: 10px auto auto 9rem;
  border-radius: 16px;
}

#video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 16px;
}

/* footer css */
footer {
  margin: 16px auto auto 16px;
}

footer a{
  text-decoration: none;
  color: black;
 
}