/* @import url(signup.css);
@import url(login.css); */

* {
  background-color: #dadee7;
  padding: 1.5px;
  margin: 5px;
}

#index-main {
  margin: 10px;
  padding: 8px;
}

/* index page */
/* navigation */
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 60px;
  font-weight: bolder;
}

.nav-ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.831);
}

.section h1 {
  color: #08ade6;
}

#figure {
  display: flex;
  margin-top: 56px;
  gap: 60px;
}
#figure #offer {
  background-color: #a1d3e4;
  border-radius: 16px;
  padding: 6px;
  height: 12rem;
  margin-top: 20px;
  display: grid;
  gap: 48px;
}

#image1-div {
  overflow: hidden;
  border-radius: 12px;
  max-height: auto;
  max-width: auto;
}
#image1-div img {
  border-radius: 16px;
  height: 29rem;
  width: 48rem;
  object-fit: fill;
}

.h41 {
  background-color: #a1d3e4;
}
.ul1 {
  background-color: #a1d3e4;
  margin-top: -18px;
}
.ul1 li {
  list-style: inside;
  background-color: #a1d3e4;
}

/* offer button */

#figure .offer-btn {
  background-color: #16458c;
  border-radius: 16px;
  margin-top: 20px;
  padding: 10px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.offer-btn .h41 {
  background-color: #16458c;
  font-weight: bolder;
}

.offer-btn p {
  background-color: #16458c;
}
.offer-btn strong {
  background-color: #16458c;
  font-size: x-large;
  margin-left: 12px;
}
.offer-btn button {
  width: 10rem;
  height: 2rem;
  margin: 10px;
  border-radius: 10px;
  cursor: grab;
}

.offer-btn button:hover{
  background-color: #a1d3e4;
}

/* new year photo */
#newyear,
span {
  height: 5rem;
  background-color: #16458c;
}

#video {
  max-width: 80%;
  height: 25rem;
  margin: 10px auto auto;
  border-radius: 16px;
}

#video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 16px;
}

#video #inde {
  text-align: center;
}

/* footer css */
footer {
  margin: 16px auto auto 16px;
}

footer a {
  text-decoration: none;
  color: black;
}
